@import "../../common/colors.scss";

.movie-list,.show-list{
    margin: 20px 30px;
     h2{
    color:$font-secondary;
    margin-bottom: 10px;
    font-weight:400;
}
}

// .movie-conatiner{
//    display: grid;
//    grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
//    grid-gap: 15px;
// }

